/* Apply styles for header and footer */

header, footer {
  background-color: #893a3a;
  color: bisque;
  text-align: center;
}
header {
  padding: 20px;
}

footer {
  padding: 10px;
}

/* Apply styles for articles */
article {
  border: 1px solid #ddd;
  padding: 20px;
  margin: 10px;
  background-color: rgb(220, 197, 201);
}

h2 {
  color: rgb(150, 99, 37);
}

/* Implement a grid layout for smaller screens (stack articles vertically) */
section {
  display: grid;
  grid-template-columns: 1fr; /* Each article takes up the full width */
}

/* Use media queries for larger screens */
@media (min-width: 600px) {
  section {
    grid-template-columns: repeat(2, 1fr); /* Display articles in a 2x2 grid */
  }
}