/* Reset some default styles */
body, h1, p, a {
  margin: 0;
  padding: 0;
}

/* Navigation Styles */
nav {
  position: sticky;
  top: 0;
  background-color: salmon;
  display: flex;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 10px;
  margin: 5px;
  border: 1px solid white;
  border-radius: 5px;
}

nav a:hover {
  background-color: rgb(161, 109, 103);
}

/* Dropdown Menu Styles */
.dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 50px;
  background-color: salmon;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

section {
  padding: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

h2 {
  padding: 5px;
}

p {
  margin: 15px auto;
  text-align: justify;
  max-width: 70vw;
}

img {
  margin: 30px 30px;
  width: 600px;
  height: 600px;
  border-radius: 50%;
}