img:hover {
  opacity: 0.8;
}

img {
  width: 250px;
}

.images-container {
  display: flex;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.bordered {
  border: 5px solid black;
}

#svg img {
  background-color: red;
}

p {
  width: 700px;
  font-weight: 900;
  font-style: italic;
  color: salmon;
}